{% extends 'users/base.html' %}
{% load static %}


{% block content %}
  <div class="container-fluid main">
    <div class="image mt-5">
      <img src='{% static "/img/pngegg.png" %}' alt="" class="border-image">
    </div>
    <div class="container">
      <div class="container-fluid add-btn">
        <h1 class="title">Задача 1</h1>
      </div>
      <form action="{% url 'tasks:card' request.resolver_match.kwargs.pk %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3 mt-5">
          <span class="input-group-text">Заголовок</span>
          {{ form.title }}
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Дедлайн</span>
          {{ form.deadline }}
        </div>
        <div class="form-floating">
          {{ form.description }}
          <label for="form.description.id_for_label"></label>
        </div>
        <div class="container-fluid add-btn">
          <button type="submit" class="btn btn-primary btn-lg">Применить изменения</button>
        </div>
      </form>
      <div class="container-fluid add-btn">
        <a href="new.html">
          <button type="button" class="btn btn-success">Выполнено</button>
        </a>
        <a href="new.html">
          <button type="button" class="btn btn-danger">Удалить</button>
        </a>
      </div>
    </div>
    <div class="image mt-5">
      <img src='{% static "/img/pngegg.png" %}' alt="" class="border-image">
    </div>
  </div>
{% endblock %}