{% extends 'users/base.html' %}
{% load static %}


{% block content %}
  <div class="container">
    <div class="container-fluid add-btn">
        <h1 class="title">Авторизация</h1>
    </div>
    <form action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      <div class="form-floating mb-3 mt-5">
        {{ form.username }}
        <label for="form.username.id_for_label">Логин</label>
      </div>
      <div class="form-floating">
        {{ form.password }}
        <label for="form.password.id_for_label">Пароль</label>
      </div>
      <div class="container-fluid add-btn mb-3">
          <button type="submit" class="btn btn-primary btn-lg">Войти</button>
      </div>
    </form>
    <div class="card-footer text-center">
        <div class="small"><a href='{% url "users:registration" %}'>Нужен аккаунт? Зарегистрируйся!</a></div>
    </div>
  </div>
{% endblock %}

