{% extends 'users/base.html' %}
{% load static %}


{% block content %}
  <div class="container">
    <div class="container-fluid add-btn">
        <h1 class="title">Регистрация</h1>
    </div>
    <form action="{% url 'users:registration' %}" method="post">
      {% csrf_token %}
      <div class="row g-2 mt-5">
        <div class="col-md">
          <div class="form-floating m-3">
            {{ form.first_name }}
            <label for="form.first_name.id_for_label">Имя</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating m-3">
            {{ form.last_name }}
            <label for="form.last_name.id_for_label">Фамилия</label>
          </div>
        </div>
      </div>
      <div class="form-floating m-3">
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}">Логин</label>
      </div>
      <div class="form-floating m-3">
        {{ form.email }}
        <label for="form.email.id_for_label">Email address</label>
      </div>
      <div class="form-floating m-3">
        {{ form.password1 }}
        <label for="form.password1.id_for_label">Пароль</label>
      </div>
      <div class="form-floating m-3">
        {{ form.password2 }}
        <label for="form.password2.id_for_label">Потвердите пароль</label>
      </div>
      <div class="container-fluid add-btn mb-3">
          <button type="submit" class="btn btn-primary btn-lg">Зарегистрироваться</button>
      </div>
    </form>
    <div class="card-footer text-center">
        <div class="small"><a href='{% url "users:login" %}'>Есть аккаунт? Авторизируйся!</a></div>
    </div>
  </div>
{% endblock %}
