{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href='{% static "/css/login.css" %}'>
    <link type="image/x-icon" href='{% static "/img/logo.png" %}' rel="shortcut icon">
    <link type="Image/x-icon" href='{% static "/img/logo.png" %}' rel="icon">
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>